<ul><li ng-repeat="phone in phones" ng-show="phone.name" class="ng-hide">
        <span><span ng-phcompile="phone.name"></span></span>
        <p><span ng-phcompile="phone.snippet"></span></p>
    </li>
<li ng-show="phone.name" class="ng-phcompile">
        <span><span ng-phcompile="phone.name">Nexus S</span></span>
        <p><span ng-phcompile="phone.snippet">Fast just got faster with Nexus S.</span></p>
    </li><li ng-show="phone.name" class="ng-phcompile">
        <span><span ng-phcompile="phone.name">Motorola XOOM™ with Wi - Fi</span></span>
        <p><span ng-phcompile="phone.snippet">The Next, Next Generation tablet.</span></p>
    </li><li ng-show="phone.name" class="ng-phcompile">
        <span><span ng-phcompile="phone.name">MOTOROLA XOOM™</span></span>
        <p><span ng-phcompile="phone.snippet">The Next, Next Generation tablet.</span></p>
    </li><li ng-show="phone.name" class="ng-phcompile ng-hide">
        <span><span ng-phcompile="phone.name"></span></span>
        <p><span ng-phcompile="phone.snippet">Noname.</span></p>
    </li></ul>